<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Resposta do formulário</h1>
  <h5>Nome: {{name}}</h5>
  <h5>Email: {{email}}</h5>
  <h5>Data: {{date}}</h5>
  <hr />
  {{#if rootMatrix}}
  <div>
    <h3><i>lRoot</i>: Visão Geral</h3>
    [<br />
    {{#each rootMatrix}}
    &nbsp;&nbsp;&nbsp;&nbsp;{{this}},<br />
    {{/each}}
    ]
  </div>
  <br />
  {{/if}}

  {{#if matrixQ1}}
  <div>
    <h3><i>l1Q1</i>: Conhecimento técnico</h3>
    [<br />
    {{#each matrixQ1}}
    &nbsp;&nbsp;&nbsp;&nbsp;{{this}},<br />
    {{/each}}
    ]
  </div>
  <br />
  {{/if}}

  {{#if matrixQ1S2}}
  <div>
    <h3><i>l2Q1S2</i>: Conhecimento, métodos e ferramentas fundamentais de computação básica</h3>
    [<br />
    {{#each matrixQ1S2}}
    &nbsp;&nbsp;&nbsp;&nbsp;{{this}},<br />
    {{/each}}
    ]
  </div>
  <br />
  {{/if}}

  {{#if matrixQ1S3}}
  <div>
    <h3><i>l2Q1S3</i>: Conhecimento, métodos e ferramentas na área de sistemas de software</h3>
    [<br />
    {{#each matrixQ1S3}}
    &nbsp;&nbsp;&nbsp;&nbsp;{{this}},<br />
    {{/each}}
    ]
  </div>
  <br />
  {{/if}}

  {{#if l2Q1S5}}
  <div>
    <h3><i>l2Q1S5</i>: Conhecimentos básicos em sistemas de comunicação</h3>
    {{Q1S5}}
  </div>
  <br />
  {{/if}}

  {{#if matrixQ2}}
  <div>
    <h3><i>l1Q2</i>: Competências, habilidades e atributos pessoais e profissionais</h3>
    [<br />
    {{#each matrixQ2}}
    &nbsp;&nbsp;&nbsp;&nbsp;{{this}},<br />
    {{/each}}
    ]
  </div>
  <br />
  {{/if}}

  {{#if matrixQ3}}
  <div>
    <h3><i>l1Q3</i>: Competências e habilidades interpessoais (trabalho em equipe e comunicação)</h3>
    [<br />
    {{#each matrixQ3}}
    &nbsp;&nbsp;&nbsp;&nbsp;{{this}},<br />
    {{/each}}
    ]
  </div>
  {{/if}}
</body>

</html>